@import "@swimlane/ngx-dnd/release/index.css";

.container {
    display: flex;
    align-items: center;
}

i {
    height: 1em;
    width: 5px;
    margin-right: 5px;
    background-color: white;
    display: block;
}